@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "VT323", monospace;
  color: rgb(231, 231, 223);
  background-color: rgb(32, 30, 27);
}

h1 {
  font-size: 4.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.2rem;
}

h1,
h2,
h3,
p {
  text-align: center;
}

p {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: rgb(248, 248, 108);
}

#player-score,
#computer-score {
  color: rgb(231, 114, 114);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.game__card {
  padding: 2rem;
  width: 20rem;
}

.game__img {
  width: 100%;
}

.game__title {
  font-size: 1.6rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 4rem;
}

button {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.3rem 1.2rem;
  cursor: pointer;
  background-color: #fff;
  border: none;
}

button:hover {
  background-color: black;
  color: #fff;
}

@media screen and (min-width: 45.375rem) {
  html {
    font-size: 72.5%;
  }
  .game {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
}

/* MODAL + BACKDROP */

.modal {
  /* fixed so that the overlay can't be moved and stays in the middle */
  position: fixed;
  top: 20%;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  /* by default, keep it hidden until we make it appear via JS */
  display: none;
}

.modal__title {
  color: rgb(36, 34, 34);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 3.6rem;
}

.modal__text {
  color: rgb(14, 14, 114);
  margin-bottom: 1.5rem;
}

#modal-btn {
  background-color: black;
  color: #fff;
}

/* this will be the opaque background behind the modal when it pops up */
#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

@media (min-width: 48rem) {
  .modal {
    /* half the width of the viewport minus 20rem 
    using calc lets it be responsive */
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.modal {
  text-align: center;
}

.modal h2 {
  margin: 0.5rem 0;
}
